@import "../../assets/scss/_colorVariables.scss";

.stars {
    position: relative;
    min-width: 200px;
    display: inline-flex;
    .star {
        position: absolute;
        display: inline-flex;
        cursor: default;
        background: url(../../assets/img/icons/ic_star.svg) no-repeat center left;
        &:not(.placeholder) {
            z-index: 2;
        }
        &.placeholder {
            z-index: 1;
        }
    }
}
